extends layout

block content
    form(method='POST' action='')
        div(class="btn-group" role="group")
            button(class="btn btn-default" type="submit" formaction="/simulator" role="group") Task1

    h1 #{__('TITLE')}
    p #{__('WELCOME')}
    p= activity
    p= data