extends layout

block content
    fieldset
        div(class="btn-group" role="group")
            button#btnDraw Draw
            button#btnClear Clear

    h1 #{__('TITLE')}
    p #{__('WELCOME')} 
    p= activity
    hr
    p #{game.name} loaded.
    #drawList
        table(class="table")
            thead
                th Draw Number
                th Draw Date
                th Winning Numbers
            tbody    